@import "../global.scss";
.category {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  position: relative;
  cursor: pointer;
  &:hover {
    .category-button {
      opacity: 1;
      transform: translateY(-100%);
      transition: all 0.5s ease;
    }
  }
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 12px;
  cursor: pointer;
}
.left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  &:hover {
    .category-button {
      opacity: 1;
      transform: translateY(-100%);
      transition: all 0.5s ease;
    }
  }
}
.left-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.left-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  &:hover {
    .category-button {
      opacity: 1;
      transform: translateY(-100%);
      transition: all 0.5s ease;
    }
  }
}
.left-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  position: relative;
  cursor: pointer;
  &:hover {
    .category-button {
      opacity: 1;
      transform: translateY(-100%);
      transition: all 0.5s ease;
    }
  }
}

.category-button {
  position: absolute;
  color: $primaryDark;
  background: #fff;
  font-weight: 700;
  border: none;
  padding: 5px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

@media all and (max-width: 768px) {
  .category {
    flex-direction: column-reverse;
  }
  .left {
    margin-right: 0;
    flex-direction: column-reverse;
  }
  .right {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .left-top {
    margin-top: 20px;
  }
}
